<!DOCTYPE html>
<html>
<head>
    <title>Add New Book</title>
</head>
<body>
    <h1>Add a New Book</h1>
    <form method="post">
        Title: <input type="text" name="title"><br>
        Author: <input type="text" name="author"><br>
        Genre: <input type="text" name="genre"><br>
        ISBN: <input type="text" name="isbn"><br>
        Publisher: <input type="text" name="publisher"><br>
        Copies: <input type="number" name="total_copies"><br>
        <button type="submit">Submit</button>
    </form>
    <a href="{{ url_for('index') }}">Back</a>
</body>
</html>
