<!DOCTYPE html>
<html>
<head>
    <title>Edit Book</title>
</head>
<body>
    <h1>Edit Book</h1>
    <form method="post">
        Title: <input type="text" name="title" value="{{ book.title }}"><br>
        Author: <input type="text" name="author" value="{{ book.author }}"><br>
        Genre: <input type="text" name="genre" value="{{ book.genre }}"><br>
        ISBN: <input type="text" name="isbn" value="{{ book.isbn }}"><br>
        Publisher: <input type="text" name="publisher" value="{{ book.publisher }}"><br>
        Copies: <input type="number" name="total_copies" value="{{ book.total_copies }}"><br>
        <button type="submit">Update</button>
    </form>
    <a href="{{ url_for('index') }}">Back</a>
</body>
</html>
